html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  background-color: #eaeaea;
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

address {
  font-style: normal;
}

.fas {
  margin-right: 7px;
}

.lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  display: block;
  width: 90px;
  height: 2px;
  background-color: #5c5c5c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.line:nth-child(2) {
  margin-left: 20px;
}

.profile {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: #39383a;
  color: #ababab;
}

.profile-photo {
  height: 500px;
  background-image: url(./../../img/me.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.profile-info {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.profile-text {
  font-size: 15px;
  line-height: 24.19px;
  margin-bottom: 50px;
}

.heading {
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-light {
  color: #ffffff;
  border-bottom: 2px #5a5a5a dashed;
}

.contacts {
  margin-bottom: 70px;
}

.contacts-title {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 13px;
  font-weight: 400;
}

.contacts-text {
  color: #ababab;
  text-decoration: none;
  padding-left: 27px;
  line-height: 20.97px;
}

.contacts-item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px #5a5a5a dashed;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}

.language {
  width: 100px;
  height: 100px;
  border: 6px solid #5c5c5c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  margin-right: 30px;
}

.language:nth-child(3) {
  margin-bottom: 0;
}

.language-text {
  text-transform: uppercase;
  font-size: 11px;
}

.language-per {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.resume {
  padding: 25px 30px;
  -ms-flex-preferred-size: 63%;
      flex-basis: 63%;
  background-color: #ffffff;
}

.resume-wrap {
  padding: 36px 56px;
  border: 1px solid rgba(168, 168, 168, 0.44);
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 38px;
}

.logo-img {
  width: 90px;
  height: 90px;
  border: 1px solid #39383a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-line {
  width: 43px;
  height: 2px;
  border: 1px solid rgba(168, 168, 168, 0.44);
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
}

.logo-lines-left .logo-line:nth-child(2) {
  width: 55px;
  margin-right: 20px;
}

.logo-lines-right .logo-line:nth-child(2) {
  width: 55px;
  margin-left: 20px;
}

.about {
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  margin-bottom: 40px;
}

.about-address {
  font-size: 13px;
  margin-bottom: 15px;
  font-family: Roboto;
}

.about-contacts {
  font-size: 10px;
}

.about-contacts_link {
  text-decoration: none;
  color: #39383a;
}

.name {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10.75px;
  margin-bottom: 10px;
}

.position {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 30px;
}

.heading_dark {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
}

.heading_skills {
  margin-bottom: 48px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  padding-left: 40px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dashed #ececec;
}

.list-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}

.list-item_title {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 5px;
}

.list-item_data {
  text-transform: uppercase;
  font-size: 10px;
}

.list-item_text {
  font-size: 10px;
  color: #777777;
}

.list-item_non-border {
  border: none;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-list_item {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.level {
  width: 70%;
  height: 8px;
  border: 1px solid #39383a;
  position: relative;
}

.level:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #898989;
}

.level-80:before {
  width: 80%;
}

.level-90:before {
  width: 90%;
}

.level-60:before {
  width: 60%;
}
/*# sourceMappingURL=style.css.map */