html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.profile-block__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-block__burger {
  display: none;
  width: 100px;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile-block__burger:hover {
  cursor: pointer;
}

.profile-block__burger span {
  display: block;
  content: '';
  width: 30px;
  height: 4px;
  background: #000000;
}

.profile-block__burger span:after {
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000000;
  margin-top: -10px;
}

.profile-block__burger span:before {
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000000;
  margin-top: 10px;
}

.profile-block__head h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid #273650;
  color: #273650;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 25.04px;
  letter-spacing: 1.7px;
}

.profile-block__head h3:hover {
  cursor: pointer;
}

.profile-block__link {
  position: relative;
  color: #273650;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  line-height: 25.04px;
  letter-spacing: 2.75px;
  text-decoration: none;
  margin-right: 100px;
}

.profile-block__link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #01afb8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.profile-block__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.profile-block__link:last-child {
  margin-right: 0px;
}

.profile-block__main {
  padding: 0px 100px 0px 100px;
}

.profile-block__text {
  text-align: center;
  background-color: #eef8f6;
}

.profile-block__text h2 {
  padding-top: 50px;
  color: #273650;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 25.04px;
  letter-spacing: 1.7px;
}

.profile-block__dev {
  padding-top: 30px;
  color: #273650;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 400;
  line-height: 25.04px;
  letter-spacing: 1.7px;
}

.profile-block__descr {
  padding: 20px 200px 0px 200px;
  color: #273650;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.7px;
}

.profile-block__skill {
  padding-top: 20px;
  color: #273650;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.7px;
}

.profile-block__logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile-block__logo img {
  margin-right: 30px;
}

.profile-block__logo img:last-child {
  margin-right: 0px;
}

.profile-block__logo img:hover {
  cursor: pointer;
}

.profile-block__footer p {
  padding-top: 30px;
  text-align: center;
  color: #273650;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.7px;
}

.link-active {
  font-size: 40px;
  color: #01afb8;
}

body {
  margin: 0;
}

.portfolio {
  background: url("../img/header.png");
  background-size: cover;
}

.portfolio-header h1 {
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio-header a {
  color: black;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat;
}

.portfolio-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-block {
  width: 500px;
  padding: 20px;
  text-align: center;
}

.portfolio-block:hover {
  cursor: pointer;
  border: 2px solid black;
}

.portfolio-title {
  font-size: 30px;
  font-family: Montserrat;
}

.portfolio-block a {
  text-decoration: none;
  color: black;
}

.portfolio-img img {
  width: 100%;
  height: 400px;
}

.portfolio-block p {
  font-size: 20px;
  font-family: Montserrat;
}

@media (max-width: 768px) {
  .portfolio-block {
    width: 300px;
  }
  .portfolio-img img {
    height: 250px;
  }
}

.contacts {
  background: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

.contacts-block__title {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

.contacts-block__title h2 {
  font-family: Montserrat;
}

.contacts-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-block__img img {
  margin: 30px;
  width: 300px;
  height: 500px;
}

.contacts-block__img img:hover {
  cursor: pointer;
}

.contacts-block__logo {
  text-align: center;
}

.contacts-block__logo img {
  width: 64px;
  height: 64px;
  margin: 20px;
}

.contacts-block__text {
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat;
}

.contacts-block__text:hover {
  color: red;
}

@font-face {
  font-family: "Raleway - Heavy";
  src: url("../fonts/raleway.heavy.ttf") format("opentype");
}

@font-face {
  font-family: "Kitten Swash";
  src: url("../fonts/KITTEN SWASH-TRIAL.TTF") format("opentype");
}
/*# sourceMappingURL=style.css.map */