@font-face {
    font-family: "Raleway - Heavy";
    src: url('../fonts/raleway.heavy.ttf') format('opentype');
}

@font-face {
    font-family: "Kitten Swash";
    src: url('../fonts/KITTEN SWASH-TRIAL.TTF') format('opentype');
}