.portfolio
    &-block 
        &__main 
            padding: 0px 100px 0px 100px
        &__wrap 
            background-color: #eef8f6
        &__text
            width: 80%
            margin: auto
            display: flex
            justify-content: space-around
            padding-top: 30px
        &__text h2 
            color: #273650
            font-family: "Montserrat"
            font-size: 40px 
            font-weight: 700
            line-height: 25.04px 
            letter-spacing: 1.7px
        &__subtext 
            display: flex
        &__subtext p 
            margin-right: 30px
            color: #273650
            font-family: "Montserrat"
            font-size: 30px 
            font-weight: 400
            line-height: 25.04px 
            letter-spacing: 1.7px
            &:hover
                cursor: pointer
                border-bottom: 3px solid red
                margin-bottom: -3px
            &:last-child 
                margin-right: 0px
        &__content 
            width: 1400px
            margin: auto
            padding-top: 30px
            padding-bottom: 40px
    &-site
        &__block 
            position: relative
            margin-bottom: 20px
            &:hover 
                cursor: pointer
            &:hover .portfolio-site__text
                opacity: 1

        &__text
            opacity: 0
            background-color: rgba(125,124,121,0.9)
            position: absolute
            width: 100%
            height: 100%
            top: 0
            display: flex
            justify-content: center
            align-items: center
            transition: 0.5s
        &__text a
            margin-right: 50px
            &:last-child 
                margin-right: 0px
            
        &__blocks
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            height: 600px
            overflow: scroll
            overflow-x: hidden
        &__note 
            text-align: right
            padding-top: 20px
        &__note p 
            color: #273650
            font-family: "Montserrat"
            font-size: 15px 
            font-weight: 400
            line-height: 25.04px 
            letter-spacing: 1.7px



.subtext
    &-active 
        border-bottom: 3px solid red
        margin-bottom: -3px