.head
    &-right
        width: 400px
        padding-top: 36px
        background-color: #39383A
        box-shadow: 13px 0px 9px 0px rgba(0,0,0,0.75)
    &-container
        display: flex
    &-img
        width: 300px
        height: 400px
        margin: auto
    &-img img
        width: 100%
    &-title h1 
        font-size: 30px
        text-align: center
        color: #ffffff
        font-family: Montserrat
    &-info 
        margin-bottom: 26px
    &-info p 
        font-size: 18px
        line-height: 28px
        padding-left: 20px
        padding-right: 20px
        color: #ffffff
        font-family: Montserrat
    &-left
        width: 100%

    &-education
        display: flex
        &__block
            padding: 10px
            width: 400px
        &__block p 
            margin: 0
            font-size: 20px
            font-family: Montserrat
            margin-bottom: 10px
        &__block span 
            font-size: 20px
            font-family: Montserrat
            font-weight: bold
    &-resume
        text-align: center
        width: 700px
        font-size: 20px
        font-family: Montserrat
    &-resume h4 
        font-size: 25px

    &-left 
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: center
        position: relative
        background: url('../img/header.png')
        background-size: cover
    &-logo
        display: flex
        align-items: flex-start
        margin-top: 30px
    &-name h2 
        font-size: 40px
        font-family: Montserrat
    &-name p 
        font-size: 20px
        font-family: Montserrat
    &-footer
        height: 30px
        background-color: #39383A
        width: 100%
        box-shadow: 0px -14px 13px 0px rgba(0,0,0,0.29);
    &-navs 
        position: absolute
        top: 10%
        right: 10%
    &-nav a 
        text-decoration: none
        color: black
        font-family: Montserrat
        font-size: 30px
        transition: 0.5s
        &:hover
            cursor: pointer
            color: #FF9735
    &-nav
        &__contact
            margin-left: 30px
.logo
    &-img
        padding: 20px 30px
        border: 2px solid black
        border-radius: 50%
    &-img p 
        font-family: Montserrat
    
        


.head
    &-box
        display: none








@media (max-width: 1480px)
    .head
        &-info p
            font-size: 17px
        &-navs 
            top: 5%
        
@media (max-width: 1100px)
    .head
        &-resume 
            width: 100%
            padding: 10px
        &-education 
            flex-direction: column
            &__block
                width: 100%    
@media (max-width: 990px)
    .head
        &-navs 
            top: 5%
            right: 0%
        &-name 
            padding: 10px
        &-name h2 
            font-size: 38px
@media (max-width: 768px)
    .head 
        &-box
            display: block
            height: 150px
            width: 100%
        &-right
            box-shadow: 0px 14px 13px 0px rgba(0,0,0,0.29)
        &-navs 
            top: 5%
            right: 5%
        &-right
            width: 100%
        &-container 
            flex-direction: column
        &-name h2 
            font-size: 30px
        &-name p 
            font-size: 15px
        &-footer
            display: none
        &-left
            justify-content: space-around
            align-items: flex-start
        &-logo 
            display: none
@media (max-width: 425px)
    .head
        &-name h2 
            font-size: 23px
        &-info p 
            padding-left: 10px
            padding-right: 10px
            line-height: 23px


