.profile 
    &-reload
        position: fixed
        width: 64px
        height: 64px
        top: 5%
        left: 5%
        &:hover
            cursor: pointer
    &-block
        padding-top: 200px
        &__head h2 
            font-family: "Raleway - Heavy";
            font-size: 70px 
        &__main
            display: flex
        &__text 
            font-family: 'Montserrat'
            font-size: 20px
            line-height: 30px






            