.skills
    &-block
        &__head
            padding-top: 100px
        &__head h2 
            font-family: "Raleway - Heavy";
            font-size: 70px 
        &__text 
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
        &__text p 
            margin-top: 30px
            font-family: 'Montserrat'
            font-size: 30px
            line-height: 30px
        &__logs 
            margin-top: 50px
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
        &__logs img 
            margin-right: 30px
            &:last-child 
                margin-right: 0px
            